# Raw model outputs
*.hdf5
*.h5
*.nc
*.grib
*.grb
*.grb2

# Large temporary files
raw/
tmp/
work/
cache/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Quicklook figures
quicklook_mohid*/
*.png
*.tar.gz

# Quicklook figures
quicklook_mohid*/
*.png
*.tar.gz
